extends layout

block content
  .container
    .row
      .medium-12.columns
        h1 the glazebook
        p Join or log in to store, search, and share your glaze recipes.
        p Angular Test: {{1+1}}

//
