doctype html
html(ng-app)
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/normalize.css')
    //- link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic')
    //- link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,300,300italic')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    //- link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content
    script(src='libs/jquery/jquery.min.js')
    script(src='libs/angular/angular.min.js')
    script(src='libs/angular/angular-route.min.js')
