doctype html
html(ng-app='glazebook')
  head
    title the glazebook
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content
    script(src='libs/jquery/dist/jquery.min.js')
    script(src='libs/angular/angular.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js")
    script(src='../javascripts/appRoutes.js')
    script(src='../javascripts/controllers.js')
    script(src='../javascripts/services.js')
    script(src='../javascripts/app.js')
