/*
red-orange: #f15e51 | 241 94 81
yellow-orange: #f7b267
deep green: #093a43
dark blue: #113b5a
light blue: #b6dad5
light warm gray: #f5f2f2
warm gray: #dcd9d9
dark warm gray: #767373
*/

$hint-of-red : #f5f2f2;
$carnation   : #f15e51;
$rajah       : #f7b267;
$alto        : #dcd9d9;
$silver      : #cccccc;
$jungle-mist : #b6dad5;
$boulder     : #767373;
$emperor     : #555555;
$elephant    : #113b5a;
$tiber       : #093a43;
