// Font Stacks
$font-url--primary      : 'https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,300,300italic';
$font-family--primary   : 'Open Sans', sans-serif;
$font-family--secondary : sans-serif;

$font-url--headers      : 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic';
$font-family--headers   : 'Open Sans Condensed', sans-serif;

// Font Weights
$font-weight--light     : 300;
$font-weight--normal    : 400;
$font-weight--semi-bold : 600;
$font-weight--bold      : 700;

// Font Size
$base__font-size   : 16px;
$base__line-height : 23.20px;
